.sidebar-container {
  display: flex;
  width: 250px;
  justify-content: center;
}
.side {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  width: 350px;
}
.line {
  max-height: 1400px;
  margin-top: 0px;
  margin-left: 0px;
}
.user-icon {
  width: 200px;
}
.useradd {
  width: 100px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
}
.side-head {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  font-size: 16px;
}
.greenColor {
  background-color: green;
  border: none;
  color: white;
  padding: 10px;
}
.add-content {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
